.outer {
  position: relative;
  width: calc(100% + 30px);
  transform: translate(-15px, 0);
}

.slider {
  min-width: 0;
  background: var(--light);
  height: 367px;
  flex-shrink: 0;
}

.pagination {
  top: unset !important;
  right: 13px !important;
  left: unset !important;
  bottom: 16px !important;
  position: absolute;
  width: max-content !important;
  border-radius: 44px;
  color: var(--light);
  font-size: 12px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.55);
  padding: 3px 12px;
}
.bullet {
  margin: 0 !important;
  width: 7px;
  height: 7px;

  background-color: var(--light-gray);
  border-radius: 7px;

  transition: width 0.5s linear, background-color 0.5s linear;
  &.active {
    width: 20px;
    background-color: var(--accent);
  }
}
.content {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
