.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text {
  color: #A4A4A4;
  font-size: 14px;
}

.img {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 16px;
}

@media(min-width: 1170px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
  }

  .text {
    font-size: 18px;
    line-height: 160%;
  }

  .img {
    max-width: 557px;
  }
}
