.inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top {
  position: relative;
  z-index: 1;
  padding: 28px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 48px;

  &:before {
    content: '';
    z-index: -1;
    background: var(--light);
    position: absolute;
    width: 3000px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
  }
}

.btn {
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  padding: 18px;
}

.top_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.madeIn {
  display: flex;
  align-items: center;
  gap: 4px;
}


.bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.policy,
.brsys {
  color: #ABABAB;
}

@media(min-width: 1170px) {
  .inner {
    padding-bottom: 100px;
  }
}
