.inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 28px 0;
  position: relative;
  &:before {
    content: '';
    z-index: -1;
    background: var(--light);
    position: absolute;
    width: 3000px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  }
}

.text {
  font-size: 14px;
  line-height: 160%;

  & > ul {
    &,
    & > li {
      list-style: disc;
    }

    & > li {
      margin-left: 15px;
    }
  }
}
